.bgCardMen{
    @apply relative w-[80%] sm:max-w-[40rem] h-96 rounded-tl-[30%] rounded-br-[30%] flex place-content-end items-end text-end p-8 pb-7 sm:p-12 shadow-lg  shadow-black overflow-hidden;
    background-size: cover;
    background-position: center;
    object-fit: cover;

}
.bgCardMen::after{
    content: '';
    position: absolute;
    /* width: ; */
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0,0), rgba(20, 20, 20, 1));
}

.chil{
    @apply w-[20%] relative;
    /* text */
    /* writing-mode: vertical-lr;
    text-orientation: upright; */
}
.chil >h3{
    @apply  text-center whitespace-nowrap  text-xl sm:text-4xl font-serif;
    transform: rotate(90deg);
    text-shadow: 1px 1px white;
}
.bgCardGrils{
    @apply relative w-[80%] sm:max-w-[40rem] h-96 rounded-tr-[30%] rounded-bl-[30%] flex place-content-start items-end text-start p-8 sm:p-12 shadow-md shadow-black overflow-hidden;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.bgCardGrils::after{
    content: '';
    position: absolute;
    /* width: ; */
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0,0), rgba(20, 20, 20, 1));
}