.bg{
    @apply relative ;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    
}
.bg::after{
    content: '';
    @apply absolute  bg-black bg-opacity-50 w-full h-full top-0
}
.wrap::after{
    content: '';
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(20, 20, 20, 1));
    height: 50vh;
    width: 100%;
    @apply sm:h-[80%]

}