.bgAcara{
    @apply relative w-[90%] m-auto rounded-2xl p-10 my-20 shadow-2xl shadow-black ;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
}
.bgAcara::after{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @apply backdrop-blur-[2px]

}